In [1]:
import pymysql
import pandas as pd

In [2]:
_db = pymysql.connect(
    user="root",
    passwd="aprl8752^^",
    host="localhost",
    db="ubion"
)

In [3]:
cursor=_db.cursor(pymysql.cursors.DictCursor)
# cursor는 execute sql실행시키는 메소드를 쓰기 위한 변수

In [16]:
sql="select*from user_info"

cursor.execute(sql)
result=cursor.fetchall()
print(result)

[{'ID': 'test', 'password': '1234', 'name': '고길동', 'phone': '01012345678', 'ads': '서울시강북구쌍문동', 'gender': 1, 'age': 45, 'regit_date': '20220310'}, {'ID': 'test2', 'password': '3678', 'name': '둘리', 'phone': '01023455678', 'ads': '북극어딘가', 'gender': 1, 'age': 10, 'regit_date': '20220310'}, {'ID': 'test3', 'password': '8532', 'name': '마이콜', 'phone': '01022223333', 'ads': '고길동옆집', 'gender': 1, 'age': 28, 'regit_date': '20220310'}, {'ID': 'test4', 'password': '2674', 'name': '또치', 'phone': '01099992222', 'ads': '동물원', 'gender': 2, 'age': 4, 'regit_date': '20200310'}, {'ID': 'test5', 'password': '4567', 'name': '도우너', 'phone': '01034927328', 'ads': '깐따삐야', 'gender': 1, 'age': 10, 'regit_date': '20220310'}]

In [17]:
#result를 데이터 프레임으로 만들어보기
#변수명 dt로
dt=pd.DataFrame(result)
dt

      ID password name        phone        ads  gender  age regit_date
0   test     1234  고길동  01012345678  서울시강북구쌍문동       1   45   20220310
1  test2     3678   둘리  01023455678      북극어딘가       1   10   20220310
2  test3     8532  마이콜  01022223333      고길동옆집       1   28   20220310
3  test4     2674   또치  01099992222        동물원       2    4   20200310
4  test5     4567  도우너  01034927328       깐따삐야       1   10   20220310

In [12]:
sql = "insert into user_info values (%s, %s, %s, %s, %s, %s, %s, %s)"# sql에선 s만 쑴%s문자 %d숫자 %f실수
values=["test4","2674","또치","01099992222","동물원",2,4,"20200310"]

cursor.execute(sql, values)
_db.commit()

In [18]:
sql = "insert into user_info values (%s, %s, %s, %s, %s, %s, %s, %s)"

_ID = input("ID : ")
pw = input("password : ")
name=input("name : ")
phone=input("phone : ")
ads=input("address : ")
gender = int(input("gender : "))#스트링을 인트로 바꿔주기
age = int(input("age : "))
regit_date = input("regit_date : ")

input_list = [_ID,pw,name,phone,ads,gender,age,regit_date]
print(input_list)
print((type(input_list)))

cursor.execute(sql,input_list)
_db.commit()

In [23]:
x= int(input("x:"))
type(x)

int

In [15]:
#UPDATE문 UPDATE 테이블명 set 변경할 필드 이름= 값 WHERE 
#먼저sql구문 만들기
#텍스트가 길어질 때 '''를 쓰면 줄이 바껴도 다 스트링으로 출력 특수문자들도 잘 출력
update_sql ="""
                UPDATE user_info 
                SET phone="01034927328"
                WHERE name="도우너"
            """
cursor.execute(update_sql)#추가 입력값이 없으므로 인자값 필요 없음
_db.commit()#이렇게 하고 위의 select 문 확인

In [ ]:
#delete_sql= '''
#            DELETE FROM user_info
#            WHERE ID="1"
#            '''
#cursor.execute(delete_sql)
#_db.commit()