In [1]:
import pymysql

In [2]:
sample_db = pymysql.connect(
    user = "root",
    passwd = "aprl8752^^",
    host = "localhost",
    db = "ubion",
    charset = "utf8"
)

In [3]:
cursor = sample_db.cursor(pymysql.cursors.DictCursor)

In [4]:

sample_db = pymysql.connect(
    user = "root",
    passwd = "aprl8752^^",
    host = "localhost",
    db = "ubion",
    charset = "utf8"
)
cursor = sample_db.cursor(pymysql.cursors.DictCursor)
sql = "SELECT * FROM base1"
cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'post_id': 'test', 'password': '1234'}, {'post_id': 'test2', 'password': '1231'}, {'post_id': 'test7', 'password': '1234'}]

In [7]:
sql = "SELECT * FROM base2"

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'No': 1, 'post_id': 'test', 'phone': None}, {'No': 2, 'post_id': 'test2', 'phone': None}, {'No': 3, 'post_id': 'test3', 'phone': '"000"'}, {'No': 4, 'post_id': 'test5', 'phone': '01012345678'}, {'No': 5, 'post_id': 'yed', 'phone': '000'}, {'No': 6, 'post_id': 'test6', 'phone': '1234'}, {'No': 8, 'post_id': 'test7', 'phone': '1234'}, {'No': 9, 'post_id': 'test7', 'phone': '1234'}]

In [9]:
select_sql_2="SELECT * FROM base2"
cursor.execute(select_sql_2)
result = cursor.fetchall()
print(result)

[{'No': 1, 'post_id': 'test', 'phone': None}, {'No': 2, 'post_id': 'test2', 'phone': None}, {'No': 3, 'post_id': 'test3', 'phone': '"000"'}, {'No': 4, 'post_id': 'test5', 'phone': '01012345678'}, {'No': 5, 'post_id': 'yed', 'phone': '000'}, {'No': 6, 'post_id': 'test6', 'phone': '1234'}, {'No': 8, 'post_id': 'test7', 'phone': '1234'}, {'No': 9, 'post_id': 'test7', 'phone': '1234'}]

In [39]:
sql = "INSERT INTO base1 values ('test7','1234')"

cursor.execute(sql)

1

In [54]:
sql = "INSERT INTO base2 (post_id,phone) values ('test7','1234')"#넘버는 순차로 오르기때문에 추가할 필드 설정해주기

cursor.execute(sql)

1

In [48]:
sql="delete from base2 where post_id='test7'"#필드명
cursor.execute(sql)
sample_db.commit()#워크벤치에 적용
sample_db.commit()

In [50]:
sql = "update base2 set post_id='test6' where NO='6'"
cursor.execute(sql)
sample_db.commit()
sample_db.commit()

In [67]:
sql = "SELECT * FROM base2"

cursor.execute(sql)
result = cursor.fetchall()
print(result)
sample_db.commit()
sample_db.close()

[{'No': 1, 'post_id': 'test', 'phone': None}, {'No': 2, 'post_id': 'test2', 'phone': None}, {'No': 3, 'post_id': 'test3', 'phone': '"000"'}, {'No': 4, 'post_id': 'test5', 'phone': '01012345678'}, {'No': 5, 'post_id': 'yed', 'phone': '000'}, {'No': 6, 'post_id': 'test6', 'phone': '1234'}, {'No': 8, 'post_id': 'test7', 'phone': '1234'}, {'No': 9, 'post_id': 'test7', 'phone': '1234'}]

In [61]:
'''sssss'''#스트링으로 인식,줄바꿈'

'sssss'

In [72]:
select_sql = " SELECT * FROM base1 order by post_id DESC" #역순

cursor.execute(select_sql)
result =cursor.fetchall()
print (result)

[{'post_id': 'test7', 'password': '1234'}, {'post_id': 'test2', 'password': '1231'}, {'post_id': 'test', 'password': '1234'}]

In [73]:
select_sql = " SELECT * FROM base2 order by post_id DESC" #내림차순DESC오름차순_기본값ASC

cursor.execute(select_sql)
result =cursor.fetchall()
print (result)

[{'No': 5, 'post_id': 'yed', 'phone': '000'}, {'No': 8, 'post_id': 'test7', 'phone': '1234'}, {'No': 9, 'post_id': 'test7', 'phone': '1234'}, {'No': 6, 'post_id': 'test6', 'phone': '1234'}, {'No': 4, 'post_id': 'test5', 'phone': '01012345678'}, {'No': 3, 'post_id': 'test3', 'phone': '"000"'}, {'No': 2, 'post_id': 'test2', 'phone': None}, {'No': 1, 'post_id': 'test', 'phone': None}]

In [76]:
select_sql = " SELECT * FROM base2 order by NO" 

cursor.execute(select_sql)
result =cursor.fetchall()#결과값 받는것
print (result)

[{'No': 1, 'post_id': 'test', 'phone': None}, {'No': 2, 'post_id': 'test2', 'phone': None}, {'No': 3, 'post_id': 'test3', 'phone': '"000"'}, {'No': 4, 'post_id': 'test5', 'phone': '01012345678'}, {'No': 5, 'post_id': 'yed', 'phone': '000'}, {'No': 6, 'post_id': 'test6', 'phone': '1234'}, {'No': 8, 'post_id': 'test7', 'phone': '1234'}, {'No': 9, 'post_id': 'test7', 'phone': '1234'}]

In [86]:
select_sql = " SELECT password,count(password) as cnt FROM base1 GROUP BY password" #group by같은값끼리 묶기

cursor.execute(select_sql)
result =cursor.fetchall()
print (result)

[{'password': '1234', 'cnt': 2}, {'password': '1231', 'cnt': 1}]

In [90]:
select_sql = " SELECT phone,count(phone) as cnt FROM base2 GROUP BY phone" #group by같은값끼리 묶기

cursor.execute(select_sql)
result =cursor.fetchall()
print (result)

[{'phone': None, 'cnt': 0}, {'phone': '"000"', 'cnt': 1}, {'phone': '01012345678', 'cnt': 1}, {'phone': '000', 'cnt': 1}, {'phone': '1234', 'cnt': 3}]

In [92]:
select_sql = " SELECT phone FROM base2 GROUP BY phone" #cnt 안쓸경우 같은값이 어떤게 있는지 나옴

cursor.execute(select_sql)
result =cursor.fetchall()
print (result)

[{'phone': None}, {'phone': '"000"'}, {'phone': '01012345678'}, {'phone': '000'}, {'phone': '1234'}]

In [82]:
#join
select_sql = '''SELECT base1.post_id, base1.password, base2.phone FROM base1 LEFT JOIN base2 
ON base1.post_id=base2.post_id'''

cursor.execute(select_sql)
result =cursor.fetchall()
print(result)

[{'post_id': 'test', 'password': '1234', 'phone': None}, {'post_id': 'test2', 'password': '1231', 'phone': None}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}]

In [96]:
select_sql = '''SELECT base1.post_id, base1.password, base2.phone FROM base1 LEFT JOIN base2 
ON base2.phone=base1.password'''

cursor.execute(select_sql)
result =cursor.fetchall()
print(result)

[{'post_id': 'test', 'password': '1234', 'phone': '1234'}, {'post_id': 'test', 'password': '1234', 'phone': '1234'}, {'post_id': 'test', 'password': '1234', 'phone': '1234'}, {'post_id': 'test2', 'password': '1231', 'phone': None}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}]

In [84]:
#inner join 일치하는 값만 나옴
select_sql = '''SELECT base1.post_id, base1.password, base2.phone FROM base1 INNER JOIN base2 
ON base1.post_id=base2.post_id'''

cursor.execute(select_sql)
result =cursor.fetchall()
print(result)

[{'post_id': 'test', 'password': '1234', 'phone': None}, {'post_id': 'test2', 'password': '1231', 'phone': None}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}]

In [97]:
select_sql = '''SELECT base1.post_id, base1.password, base2.phone FROM base1 INNER JOIN base2 
ON base2.phone=base1.password'''

cursor.execute(select_sql)
result =cursor.fetchall()
print(result)

[{'post_id': 'test7', 'password': '1234', 'phone': '1234'}, {'post_id': 'test', 'password': '1234', 'phone': '1234'}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}, {'post_id': 'test', 'password': '1234', 'phone': '1234'}, {'post_id': 'test7', 'password': '1234', 'phone': '1234'}, {'post_id': 'test', 'password': '1234', 'phone': '1234'}]

In [98]:
sample_db.commit()
sample_db.close()

In [99]:
'''안녕
아낭ㅇ
낭나야'''

'안녕\n아낭ㅇ\n낭나야'