In [1]:
#사칙연산
print(10+5)

15

In [2]:
#문자붙이기도 가능
print("hello"+"world")

helloworld

In [3]:
#변수: 파이썬사용시 편리, 이름을 변수명에서 지정하고 밑에서 사용하겠다.
# 변수 지정 방법: 변수명one을 넣어줌
# 뒤에 변수의 데이터 형태를 넣어줌
input_one = "hello world"
#inputOne으로 쓰기도함 
input_one = 1234 # 변수 중복시 가장 나중에 지정한 변수적용 헬러월드로 되돌아 갈수 있는 방법 없음 

print(input_one)
#변수명 적을 시 주의점: 파이썬에 저장된 예약어를 사용해 변수로 사용할 수 없다. if,for
#숫자로 시작하면 안된다. 변수지정시에는 중복안됨
#공백있으면 안됨
#언더바 _를 제외한 특수문자를 쓰면 안됨

1234

In [5]:
#bool타입의 데이터-> 조건문, 반복문

bool_str = True
bool_str_2 = False

In [6]:
#데이터 형태 : float
float_num = 3.14
print(float_num)

3.14

In [7]:
#튜플 형태: ()
#가장 기본적인 리스트의 형태
#데이터의 수정 불가
tuple_num = (1,2,3,4)
print(tuple_num)

# 3을 출력하려면?
print(tuple_num[2])
#튜플안에 튜플 적기
tuple_num_2 =((1,2,3),(4,5,6))
print(tuple_num_2)
# 5를 출력하려면?
print(tuple_num_2[1][1])
print(tuple_num_2[1])#->(4,5,6)

(1, 2, 3, 4)
3
((1, 2, 3), (4, 5, 6))
5
(4, 5, 6)

In [8]:
#리스트 형태:[]
#리스트와 튜플의 차이는 ?->데이터의 수정 가능 유무

list_num=[1,2,3,4,"a"]
print(list_num)
# 리스트 안의 데이터의 형태는 상관 없음->[1,2,3,4,'a']로 나옴

[1, 2, 3, 4, 'a']

In [12]:
#딕셔너리 형태:{}
#안에 들어가는 데이터의 형태 {'key1':'value1''key2':'value2'}

dict_num = {"name":"test", "phone":"01033334444"}

#test를 출력하려면? 키값을 기준으로 값을 출력

print(dict_num["name"])
#객체마다 특정값을 지정해서 저장하기 위해서 
#데이터가 많아질수록 사용하기 편리 
#왜 이런형태를 만들었는지 , 쓰기가 편리한게 무엇인지 생각하면서 데이터 형태를 정하고 짤때 시간적으로 도움이 됨

test

In [15]:
#조건문 if 조건식 : 
a=10 
if a>8 :
    print("a는 8보다 크다") # 들여쓰기 if 조건식이 참일 때 실행

a는 8보다 크다

In [18]:
a=5 
if a>8 :
    print("a는 8보다 크다") 
else:
    print("a는 8보다 작다")#조건식이 거짓인 경우 출력하고 싶으면 else문

a는 8보다 작다

In [31]:
b=""
if b: #변수가 존재하면 참"1", 변수가 존재하지 않으면 거짓""
    print("성공")
else:
    print("실패")

실패

In [32]:
b="1"
if b: #변수가 존재하면 참, 변수가 존재하지 않으면 거짓
    print("성공")
else:
    print("실패")

성공

In [39]:
# if조건식과 관계없이 출력
a=10 
if a>8 :
print("a는 8보다 크다")

IndentationError: expected an indented block after 'if' statement on line 3 (581834687.py, line 4)

In [35]:
#반복문 for문 ,while문
for i in range(1,10,1):#1부터 시작해서 10되면 종료할건데 1씩증가
    print("%d번째반복" %i) #%d->정수,%s->문자, %f->실수

1번째반복
2번째반복
3번째반복
4번째반복
5번째반복
6번째반복
7번째반복
8번째반복
9번째반복

In [55]:
dict_list = [{"name":"test1","passwd":"1234"},
            {"name":"test2","passwd":"1234"},
            {"name":"teat3","passwd":"1234"}]
#list형태의 데이터를 각 항별로 순서대로 출력하는 for문 
for list in  dict_list: #dict_list를 기준으로
    print(list)
#for i in range(0,len(dict_list),1)# i는 딕셔너리 형태로 지정 
#    print(dict_list[i])
#print(dict_list[i]["name"])->name만 출력

{'name': 'test1', 'passwd': '1234'}
{'name': 'test2', 'passwd': '1234'}
{'name': 'teat3', 'passwd': '1234'}

In [57]:
#name 값만 출력
for i in  dict_list:
    print(i["name"])

test1
test2
teat3

In [63]:
#while문
sum=1
i=1
while i < 10:
    sum+=i
    i+=3
    print("%d"%sum)

2
6
13

In [71]:
i=0
while i <len(dict_list): #수로 넣어도 됨
    print(dict_list[i])
    i+=1 #1씩증가

{'name': 'test1', 'passwd': '1234'}
{'name': 'test2', 'passwd': '1234'}

In [69]:
len(dict_list)

3

In [100]:
#함수 : 반복되는 행동을 쉽게 하려고 함수명을 지정한 후 실행
# def 함수명(매개변수1,매개변수2): 매개변수를 뭘 넣어야 하는 지 모르겠다!!!!!!!!!!!!!!!!!!!!!!
#함수 호출 시 -> 함수명(인자, 인자)
#함수를 호출하면 dict_list값이 출력되게 인자 값에 키값을 넣어주고 그 키값에 해당하는 값만 출력되도록
def func_1(input_key):# 함수 만들고 매개변수 키값지정
    for list in dict_list:#키값에 해당하는 값을 밸류를 출력 dict_list를 for돌린다
        print(list[input_key])#키값 넣어주기
func_1("name")#->def func_2("name") ->print(list["name"])
#->def func_2("passwd") ->print(list["passwd"])

test1
test2
teat3

In [102]:
def func_1(input_key):# 함수 만들고 매개변수 키값지정
    for i in range(0,len(dict_list),1):
        print(dict_list[i][input_key])#키값 넣어주기
func_1("passwd")

1234
1234
1234

In [103]:
func_1("name")

test1
test2
teat3

In [ ]:
#while
def func_2(input_key):
    i=0 #초기값지정
    while i<len(dict_list):

In [107]:
def func_2(list,input_key):
    i=0 #초기값지정
    while i<len(list):
        print(list[i][input_key])     
        i+=1
func_2(dict_list,"name")

test1
test2
teat3

In [109]:
#함수 
def func_3():
    return"hello"#함수를 호출했을때 return뒤의 말을 호출

print(func_3())

hello

In [114]:
a=10 # a는 전역변수(함수 전체)

def func_4(input_a,input_b):
    result = input_a+input_b #result는 지역변수 (함수 내)
    return  result

print(func_4(5,6))

11

In [116]:
def func_5():#함수5가 실행
    a=10
    def func_6():
        print(a)
    func_6()#함수6은 a를 프린트해서 10이 됨

func_5()

10

In [117]:
def func_5():#함수5가 실행
    def func_6():
        print(a)
    func_6()
    a=15 # 함수 6이 먼저 실행되기 떄문에 a가 출력이 안됌
func_5()

NameError: free variable 'a' referenced before assignment in enclosing scope

In [153]:
#함수 생성->매개 변수가 3개 ->def 함수 1(a,b,c):->함수안에 함수를 하나더 생성->함수1=a+b ,함수2=(a+b)-c를 만들어보자
def func_7(a,b,c):
    sum = a+b#지역변수

    def func_8():#매개변수 없어도 
        result=sum-c#지역
        return result

    print(func_8())
func_7(1,2,3)

0

In [155]:
def func_9(input_a,input_b):
    sum = input_a+ input_b #1+2
    return sum #3
def func_10(input_c,input_d,input_e):
    sum_2= func_9(input_c,input_d) #위의 썸과 다름 지역변수이기떄문
    result=sum_2 - input_e #3-3
    return result

print(func_10(1,2,3))

0

In [156]:
def func_9(input_a,input_b):
    sum = input_a+ input_b #5+2
    return sum #3
def func_10(input_c,input_d,input_e):
    sum_2= func_9(input_c,input_d) #위의 썸과 다름 지역변수이기떄문
    result=sum_2 - input_e #7-3
    return result

print(func_10(5,2,3))

4

In [172]:
#인자값에는 숫자문자 다넣을수 있우ㅡㅁ
# 함수 3개 생성->함수1은 두수의 합 출력->
# 함수 2는 두수의 차 출력->함수 3은 def 함수3(a,b,c):에서 c의 값이 'S'면 함수1(a,b), c의값이 'D'이면 함수2(a,b) 호출 
#print(함수3)

def func_11(input_a,input_b):
    sum1=input_a+input_b
    return sum1
def func_12(input_a,input_b):
    sum2=input_a-input_b
    return sum2
def func_13(input_a,input_b, input_c):
    if input_c == "S":
        print(func_11(input_a,input_b))
    elif input_c == "D":#else는 조건 못적음 
        print(func_12(input_a,input_b))
    

func_13(1,2,"S")

3

In [187]:

def func_13(input_e,input_f, input_g):
    def func_11(input_a,input_b):
        sum1=input_a+input_b
    #return sum1
        print(sum1)
    def func_12(input_a,input_b):
        sum2=input_a-input_b
        print(sum2)
    #return sum2
    if input_g == "S":
        print(func_11(input_e,input_f))
    elif input_g == "D":#else는 조건 못적음 
        print(func_12(input_e,input_f))
    else:
        return "not matched"

func_13(1,2,"S")

3
None

In [178]:
#
def func_11(input_a,input_b):
    result1=input_a + input_b
    return result1

def func_12(input_c,input_d):
    result2=input_c - input_d
    return result2

def func_13(input_e,input_f, input_g):#
    if input_g == "S":
        result_3=func_11(input_e,input_f)#변수값 지정->호출시 인자값 필수!
       # print(result_3)
        return result_3
    elif input_g == "D":#else는 조건 못적음 
        result_4=func_12(input_e,input_f)
       # print(result_4)
        return result_4
    else:
        return "not matched"
func_13(1,2,"S")
#print(func_13(1,2,"S"))#->3, none 같이 나옴, 함수13호출할때return이 없어서

3

In [191]:
#함수 -> 입력을 두개 할것 a~b, c="짝수","홀수"
# c짞수면 짝수만 c홀수 홀수만
#반환되는 데이터의 형태는 자유

# 함수 여러개 쓰기
def func_14(input_a,input_b):
    for i in range(input_a,input_b+1,1):
        if i%2==0:
            print(i)
def func_15(input_a,input_b):
    for i in range(input_a,input_b+1,1):
        if i%2==1:
            print(i)

def func_16(input_a,input_b,input_c):
    if input_c=="짝수":
        func_14(input_a,input_b)
    elif input_c=="홀수": #else가능
        func_15(input_a,input_b)

func_16(1,10,"짝수")

2
4
6
8
10

In [209]:
def func_14(input_a,input_b):
    for i in range(input_a,input_b+1,1):
        if i%2==0:
            print(i)
def func_15(input_a,input_b):
    for i in range(input_a,input_b+1,1):
        if i%2==1:
            print(i)

def func_16(input_a,input_b,input_c):
    if input_c=="짝수":
        func_14(input_a,input_b)
    else: #else가능
        func_15(input_a,input_b)

func_16(1,10,"홀수")

1
3
5
7
9

In [ ]:
#.

#방법1. 가장 느림 (for 반복문과 if 문장 이용)
total = 0
for i in range(1,101):  # [1,2,3,4,...,100]
  if i%2 == 0:  # i가 짝수면
    total += i  # total = total + i
print(total)

 

#방법2. 보통 (for 반복문만 이용)
total = 0
for i in range(2, 101, 2):  # [2,4,6,8,...,100]   
  total += i
print(total)

 

#방법3. 보통  (sum() 함수 이용)
print(sum(range(2,101,2)))  

 

#방법4. 조금 빠름 (while 반복문 이용)
total = 0
n = 2
while n < 101:   # while 반복문 이용
  total += n
  n += 2
print(total)

 

#방법5. 가장 빠름 (짝수 합 공식 이용)
n = 100//2      # n = 짝수 개수
print(n*(n+1))  # 짝수 합 공식

In [213]:
def func_14(input_a,input_b):#4,30
    _list = []
    for i in range(input_a,input_b+1,1):
        if i%2==0:
            _list.append(i)
    return _list

def func_15(input_a,input_b):
    _list = []
    for i in range(input_a,input_b+1,1):
        if i%2==1:
            _list.append(i) #리스트에 i값을 추가한다
    return _list

def func_16(input_a,input_b,input_c):
    if input_c=="짝수":
        return func_14(input_a,input_b)
    elif input_c=="홀수": #else가능
        return func_15(input_a,input_b)

print(func_16(4,30,"짝수"))
#데이터를 출력했으면 저장해야함 
#우선 리스트형태로 만드러보기, 변수 리스트를 선언해줘야함
#지역변수

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [231]:
#전역변수
_list_2=[]

def func_17(input_a,input_b):#1,10

    for i in range(input_a,input_b+1,1):
        if i%2==0:
            _list_2.append(i)
            #print(i)

def func_18(input_a,input_b):

    for i in range(input_a,input_b+1,1):
        if i%2==1:
            _list_2.append(i)
           # print(i)


def func_19(input_a,input_b,input_c):

    if input_c=="짝수":
        return func_17(input_a,input_b)
    elif input_c=="홀수": #else가능
        return func_18(input_a,input_b)
    #print(_list_2)

func_19(1,10,"홀수")
print(_list_2) #->[]뜸 :논블록킹 코드
#코드 읽는 방식은 두가지인데 
#믈락킹 코드: 어떤 작업이 끝날때까지 기다림
#논블로킹코드를 사용하는 서버는 더많은 요청을 처리할 수 있음

[1, 3, 5, 7, 9]

In [37]:
import pandas as pd

#df_1 = pd.DataFrame('a',index=[1], columns=['A'])
df_1 = pd.DataFrame(('a','b','c'), columns=['A'])

In [41]:
df_1 ['B']="A"
df_1

   A  B
0  a  A
1  b  A
2  c  A

In [42]:
#A열값만 출력
df_1['A']
#df_1.A

0    a
1    b
2    c
Name: A, dtype: object

In [43]:
#콜룸값만 변경
df_1.columns=["a","b"]
df_1

   a  b
0  a  A
1  b  A
2  c  A

In [44]:
#데이터 추가
values=[["test1","20000"],["test2","30000"],["test3","10000"]]
columns=["name","pay"]
df_2 = pd.DataFrame(values,columns = columns)
df_2

    name    pay
0  test1  20000
1  test2  30000
2  test3  10000

In [33]:
#pay기준 오름차순대로 정렬, ascendinh=true
df_2.sort_values("pay")

    name    pay
2  test3  10000
0  test1  20000
1  test2  30000

In [31]:
df_2.sort_values('pay',ascending=False)#오름차순=false -> 내림차순정렬

    name    pay
1  test2  30000
0  test1  20000
2  test3  10000

In [ ]:
df_2.sort_index(ascending=False)#내림차순

In [38]:
#복사, 원본데이터 유지하기 위해
df_3=df_2.copy()
df_3

    name    pay
0  test1  20000
1  test2  30000
2  test3  10000

In [51]:
#콜룸값 삭제
df_4=df_3.drop(["name"],axis=1)#axis=1은 열을 선택해서 지움
df_4
#df3에서 삭제해 df4에 저장하면 df3는 원본유지 df4에서 변경되어있음

     pay
0  20000
1  30000
2  10000

In [67]:
df_4=df_3.drop(["name"],axis=1)#axis=1은 열을 선택해서 지움
print(df_4)

     pay
0  20000
1  30000
2  10000

In [52]:
df_4=df_3.drop([1],axis=0)#axis=0은 행 선택해서 지움
df_4

    name    pay
0  test1  20000
2  test3  10000

In [57]:
df_5=df_3.drop([0],axis=0)
df_5

    name    pay
1  test2  30000
2  test3  10000

In [ ]:
#딕셔너리의 키값은 콜룸으로 가고 그 열에 맞는 벨류값이 들어감

In [58]:
#csv파일 저장하기
df_5.to_csv('test.csv',encoding='utf-8')#경로지정 안할 시 현재 폴더

In [ ]:
#df_5.to_csv('./pandas/test.csv',encoding='utf-8')#./판다스폴더에 하위,

In [65]:
df_5.to_csv('./templates/test4.csv',encoding='utf-8')#../ 서버에 템플릿 폴더에 저장 하위

In [66]:
df_5.to_csv('../test3.csv',encoding='utf-8') #상위 웹 폴더 에 저앙